  <html>
  <head>
  	<title fig:slot="docTitle" />

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
  </head> 
  <body>
  	<div class="container">
      <header class="header">
        <fig:include file="menu.html" />
        <h3 class="text-muted">FigDice Example</h3>
        <a href="/lang/en"><img src="/img/en.png" width="16" height="16" /></a> | <a href="/lang/es"><img src="/img/es.png" width="16" height="16" /></a>
      </header>

      <div class="row">

        <div class="col-sm-12 col-md-9 col-lg-9">

          <div class="content">
            <h1 fig:slot="pageTitle" />      
          	<div fig:slot="pageContent" />
          </div>

        </div>

        <div class="col-sm-12 col-md-3 col-lg-3">

          <img src="/img/twitter.png" width="32" height="32" />

          <fig:include file="tweets.html" />

        </div>

      </div>

      <footer id="footer">
      	<fig:include file="footer.html" />
      </footer>

    </div>

  </body>
  </html>
